.badge {
  padding: 0.5em 1em;
  font-size: 0.9em;
  cursor: default;
}
.btn-close {
  font-size: 0.6em;
  margin-left: 0.5em;
}

.custom-container {
  background-color: black;
  color: white;
  padding: 3rem 0;
  border-radius: 10px; /* Optional for rounded corners */
}

/* Default button style with hover color */
.btn-primary {
  background-color: #218838 !important; /* Darker green as the normal state */
  border-color: #218838 !important;
}

/* Hover state with lighter green */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #28a745 !important; /* Lighter green on hover */
  border-color: #28a745 !important;
}

/* Apply the same for other button variations if needed */
.btn-secondary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-light,
.btn-dark {
  background-color: #218838 !important;
  border-color: #218838 !important;
  color: #fff !important;
}

.btn-secondary:hover,
.btn-success:hover,
.btn-danger:hover,
.btn-warning:hover,
.btn-info:hover,
.btn-light:hover,
.btn-dark:hover {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}
